@import url("http://fonts.cdnfonts.com/css/athelas");

body {
  margin: 0;
  font-family: sans-serif;
}

.landing_screen {
  background-image: url("../img/doc.png");
  background-size: cover;
  height: 100vh;
}

.btn_container {
  position: relative;
  width:fit-content;
  top: 25%;
  left: 18%;

  font-family: "Athelas", sans-serif;
}

.png_container {
  width: 100%;
}

.check_btn {

  cursor: pointer;

  font-size: 28px;
  font-weight: 500;

  border: 1px solid black;
  padding: 3px;

  border-radius: 5px;
}

.doc_png {
  width: 100%;
}
